header .header-content .header-content-inner p {
	color: rgba(255,255,255,.9);
}

hr {
	border-color: #809836;
}

.btn-primary {
	background-color: #668334;
	border-color: #668334;
	margin: 2px;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
	background-color: #fff;
	border-color: #fff;
	color: #668334;
}

