header .header-content .header-content-inner p {
	color: rgba(255,255,255,.9);
}

hr {
	border-color: #809836;
}

.btn-primary {
	background-color: #79ac2e;
	border-color: #79ac2e;
	margin: 10px 2px;
	/*margin-bottom: 20px;*/
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
	background-color: #fff;
	border-color: #fff;
	color: #79ac2e;
}

.btn-x1 {
	padding-bottom: 30px;
}

.logos > img {
	max-width: 100%;
}